/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --primary-color: #3a458c;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
.spin {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
a {
  color: black;
}
a:hover {
  color:var(--primary-color);
}

.ant-dropdown-menu-item-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-submenu-title-selected > a {
  color: var(--primary-color);
  background-color: #f5f5f5;
}

.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {

  border-bottom: 2px solid var(--primary-color);
}

.ant-menu-item-active, .ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover, .ant-menu-item:hover, .ant-menu-item > .ant-badge a:hover, .ant-menu-submenu-active, .ant-menu-submenu-title:hover, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
  color: var(--primary-color);
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: var(--primary-color);
}

.ant-btn-primary {
  color: #fff;
  background: var(--primary-color);
  border-color: var(--primary-color);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-btn-primary:focus, .ant-btn-primary:hover {
  color: #fff;
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.ant-input-affix-wrapper:hover {
  border-color: var(--primary-color);
  border-right-width: 1px !important;
  z-index: 1
}

.ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus {
  border-color: var(--primary-color);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 8, 14, 0.2)
}

.ant-pagination-item-active a, .ant-pagination-item:focus a, .ant-pagination-item:hover a {
  color: var(--primary-color);
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: var(--primary-color);
}

.ant-pagination-item:focus, .ant-pagination-item:hover {
  border-color: var(--primary-color);
  transition: all .3s;
}

.ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link, .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--primary-color);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 8, 14, 0.2);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  background-color: #ECEEF7;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--primary-color);
  border-right-width: 1px !important;
}

.ant-checkbox-input:focus + .ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
  border-color: var(--primary-color);
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border: 0;
  transform: translate(-50%,-50%) scale(1);
  opacity: 1;
  content: ' ';
}
.ant-table-filter-trigger.active {
  color: var(--primary-color);
}
.ant-btn-link {
  color: var(--primary-color);
  background: 0 0;
  border-color: transparent;
  box-shadow: none;
}
.login-body {
  background: #FFFFFF;
}
.login-body .login-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.login-body .login-wrapper .login-panel {
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 40px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex: 1 1 100%;
}
@media (max-width: 992px) {
  .login-body .login-wrapper .login-panel {
    width: 100%;
  }
}
.login-body .login-wrapper .login-panel > a {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(41, 50, 65, 0.3);
}
.login-body .login-wrapper .login-panel .logo {
  margin-bottom: 50px;
}
.login-body .login-wrapper .login-panel > input {
  width: 85%;
  max-width: 247px;
  margin-bottom: 10px;
  background-color: #F6F7F7;
  border: 1.2px solid #D4D6D9;
  color: #515C66;
  padding: 12px 10px;
}
.p-inputtext {
  margin: 0;
}
.login-panel1{
width: auto!important;
}
.login-body .login-wrapper .login-panel > button {
  width: 85%;
  max-width: 247px;
  margin-bottom: 10px;
  padding: 0;
}

.p-ripple {
  overflow: hidden;
  position: relative;
}

.title{
  font-weight: bold;
}
table
{


}

.split{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

}
.col2{
  padding: 10px ;

}
.col1{
  padding: 10px;

}
@media (min-width: 40em) {
  .split{
    flex-direction: row;
  }

}
/* bootstrap */
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--primary-color)!important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color:#FFFFFF!important;
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color)!important;

}
.page-link:focus{
  box-shadow:none!important;
}
.navbar{
  box-shadow:0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}
